# __Capestone Project :__
#### Getting Data from SQL

#### __Importing Data and Required Packages__

In [1]:
import mysql.connector
from pymysql import connect
from mysql.connector import Error
import pandas as pd

#### __Connecting MySQL Databases to Python__

In [2]:
# Connecting MySQL Databases to Python and Cursor:
db = connect(host = "localhost", user = "root", password = "2001")
curs = db.cursor()
query = 'show databases'
curs.execute(query)
db=curs.fetchall()
for i in db:
    print(i)

('bank',)
('coll',)
('connected',)
('customer',)
('customers',)
('customers1',)
('demo',)
('eer',)
('flipkart',)
('info',)
('information_schema',)
('kgml',)
('my_sql_',)
('mysql',)
('performance_schema',)
('project',)
('python_to_sql',)
('sakila',)
('sales',)
('sys',)
('upgrad',)
('world',)

### __Fetching Table from SQL Database__

In [3]:
connectivity = connect(host = "localhost", user = "root", password = "2001", database = 'Flipkart')
curs = connectivity.cursor()
query = 'show tables'
curs.execute(query)
data = curs.fetchall()
for x in data:
    print(x)

('flipcart_mobile_products',)

In [4]:
query = 'select * from flipcart_mobile_products'
print('No.of Rows in Table :',curs.execute(query))

No.of Rows in Table : 2208

### __Converting the SQL Data Table to DataFrame using Pandas__

In [5]:
import pandas as pd
df=pd.read_sql(query,connectivity)

C:\Users\sathish\AppData\Local\Temp\ipykernel_11012\2733075093.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,connectivity)

In [6]:
print("Flipcart Mobile Products :")
print("="*150)
df

Flipcart Mobile Products :
======================================================================================================================================================

,Name,Ratings_Stars,No._of_Ratings_and_Review,Product_Description,Categery,Price,Category
0,OPPO K12x 5G with 45W SUPERVOOC Charger In-The...,4.5,"53,821 Ratings&1,665 Reviews",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,Mobile,"₹12,999",None
1,"Apple iPhone 15 (Black, 128 GB)",4.6,"1,48,842 Ratings&4,803 Reviews",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,Mobile,"₹58,999",None
2,"Apple iPhone 15 (Pink, 128 GB)",4.6,"1,48,842 Ratings&4,803 Reviews",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,Mobile,"₹58,999",None
3,"Apple iPhone 15 (Green, 128 GB)",4.6,"1,48,842 Ratings&4,803 Reviews",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,Mobile,"₹58,999",None
4,"Apple iPhone 15 (Blue, 128 GB)",4.6,"1,48,842 Ratings&4,803 Reviews",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,Mobile,"₹58,999",None
...,...,...,...,...,...,...,...
2203,Acer Aspire 3 Intel Core i3 12th Gen 1215U - (...,4.3,800 Ratings&57 Reviews,Intel Core i3 Processor (12th Gen)8 GB DDR4 RA...,None,"₹30,990",Laptop
2204,MSI Crosshair 16 HX Intel Core i7 14th Gen 147...,N/A,N/A,Intel Core i7 Processor (14th Gen)16 GB DDR5 R...,None,"₹1,24,990",Laptop
2205,Lenovo IdeaPad Slim 1 AMD Ryzen 5 Hexa Core 55...,4.2,"4,939 Ratings&450 Reviews",AMD Ryzen 5 Hexa Core Processor8 GB DDR4 RAM64...,None,"₹35,490",Laptop
2206,HP AMD Ryzen 3 Dual Core - (8 GB/256 GB SSD/Wi...,N/A,N/A,AMD Ryzen 3 Dual Core Processor8 GB DDR4 RAMWi...,None,"₹31,999",Laptop
2207,Ultimus Neo Intel Core i3 10th Gen Neo - (8 GB...,4.5,2 Ratings&2 Reviews,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...,None,"₹19,990",Laptop

In [7]:
import pandas as pd

In [8]:
df.isnull().sum()

Name                            0
Ratings_Stars                   0
No._of_Ratings_and_Review       0
Product_Description             0
Categery                     2160
Price                           0
Category                       48
dtype: int64

In [9]:
# Save the DataFrame to a CSV file
df.to_csv('Flipkartdata.csv', index=False)